{% extends "base.html" %}

{% block content %}
  <h3>About</h3>
  <hr><br>
  <div>
    <p>Hi! Welcome to my humble corner in the internet.</p><br>
    <p>My Pocket Internet is a set of simple, mobile-friendly apps that were built for family & friends with rather <strike>random</strike> specific purposes.</p><br>
    <p>You can send news articles to your email, or generate random activities/restaurants from a list you planned.</p><br>
    <p>If, for any reason, you find these tools useful for you, feel free to <a class="bold" href="{{ url_for('register') }}">sign up!</a></p><br>
    <p>These tools will always remain free for all to use. :)</p><br>
    <p>- Shannon</p>
  </div>

{% endblock %}
