{% extends "base.html" %}

{% block content %}
  <h3>
    <div id="page_header">
      My Chats
    </div>
  </h3>
  <hr><br>
  <div>
    <ul>
    {% for chat in chats %}
      <li>
        <div style="width:70%;float:left;">
          <b><a href="{{ url_for('chat_room_page', chat_id=chat.id, chat_name=chat_names[loop.index0]) }}">{{ chat_names[loop.index0] }}</a></b>
        </div>
        <br style="clear: left;" />
      </li>
    {% endfor %}
    </ul>
  </div>
  <br>
  <h4>Create New Chat</h4>
  <div class="form_div">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.chat_with_username.label }}<br><br>
        {{ form.chat_with_username(size=32, class_="input_field lower_input") }}
        {% for error in form.chat_with_username.errors %}
        <span style="color: red;">[{{ error }}]</span><br><br>
        {% endfor %}
      </p>
      <p id="submit_button">
        {{ form.submit(class_="form_button") }}
      </p>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
      <li style="color: red;">- {{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </form>
  </div>


{% endblock %}
