{% extends "base.html" %}

{% block content %}
  <style>
    #page button {
      margin:10px;
      width:70px;
      float:right;
    }
  </style>
  <h3>
    <div id="page_header">
      News article to email
    </div>
  </h3>
  <hr>
  <br>
  <div class="form_div">
  <form id="email_article" action="{{ url_for('send_email_article') }}" method="post">
    <p>Link to article:<br><br>
      <input type="url" placeholder="Article URL" name="article_url" id="article_url" class="lower_input"/>
    </p>
    <p>Send to email:<br><br>
      <input type="email" placeholder="Email" name="email" id="email" class="lower_input" />
    </p>
    <p>
      <div style="display: inline-block; padding-right: 5px;"><input type="checkbox" name="include_pdf" id="include_pdf" class="lower_input" /></div>
      <div style="display: inline-block;"><p>Include PDF in email</p></div>
    </p>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
  <li class="flash_message">- {{ message }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <button id="btnSubmit" type="submit" form="email_article" onClick="return empty()" value="Submit" class="nostyle">Submit</button>
  <div id="divMsg" style="display:none; padding-right: 5px; float: right;">
    <img src="{{url_for('static', filename='loading_icon.gif')}}" alt="Please wait.." />
  </div>

  <br><br><br>
</div>
<script type="text/javascript">
  function replace_with_loading_gif() {
    document.getElementById('btnSubmit').style.display="none";
    document.getElementById('divMsg').style.display="block";
  };
  function empty() {
      var x;
      email = document.getElementById("email").value;
      article = document.getElementById("article_url").value;
      include_pdf = document.getElementById("include_pdf").checked;
      if (email == "" || article == "") {
          alert("Email and link to article must be provided.");
          return false;
      };
      replace_with_loading_gif()
    };
  function get_url_params(param) {
      var regex = /[?&]([^=#]+)=([^&#]*)/g,
          url = window.location.href,
          params = {},
          match;
      while(match = regex.exec(url)) {
          params[match[1]] = match[2];
      };
      param_value = ""
      if (params[param]) {
        param_value = params[param];
      }
      return param_value
    };

  document.getElementById('article_url').value = get_url_params("article");
  var email_query_param = get_url_params("email")
  if (email_query_param == "") {
    document.getElementById('email').value = "{{ current_user.email }}";
  } else {
    document.getElementById('email').value = email_query_param;
  }
</script>

{% endblock %}
