{% extends "base.html" %}

{% block content %}
<style>
  table {
    border-spacing: 3px;
  }
  td {
    line-height: 10px;
  }
  td.info {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  td.col1 {
    width:100%;
    min-width:45px;
    float:left;
    padding-left:1%;
    padding-right:2.5%;
  }
  td.col2 {
    width:10%;
    min-width:50px;
    vertical-align:top;
  }
  td.col3 {
    width:20%;
    min-width:70px;
    text-align:center;
  }
  #page li {
    padding-left: unset;
    margin: 22px 0 22px 0;
  }
  #sort_by div.stampbox {
    display: inline-block;
    width: calc(100% / 5);
    min-width: unset;
    line-height: 20px;
  }
  .stampbox {
    border: 1px solid #FCFCFC;
    border-radius: 10px;
    line-height: 17px;
    text-align:center;
    min-width:50px;
    background-color: #FCFCFC;
  }
  .stampbox.strong {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  .stampbox.buy {
    background-color: #e5efe5;
    border-color: #006600;
  }
  .stampbox.sell {
    background-color: #FFDBDA;
    border-color: #974052;
  }
  .stampbox.hold {
    background-color: #efefef;
    border-color: rgba(0, 0, 0, 0.5);
  }
  #page a.sell {
    color:#974052;
    font-weight: bold;
  }
  #page a.buy {
    color:#006600;
    font-weight: bold;
  }
  #page a.hold {
    color: #424242;
  }
</style>

  <h3>
    <div id="page_header">
      Welcome to Pocket.sg!
    </div>
  </h3>
  <hr>
  <div style="padding: 0px 3%;">
    <h4>Stock monitoring for savvy investors</h4>
    <div class="subtext">
      <p>PocketSG is an intelligent stock monitoring platform designed to identify trading opportunities.</p>
    </div>
    <br>
    <div class="subtext" style="padding-right: 20px;">
    <ul id="ticker_list">
      <hr>
      <li name="3_fb_Hold">
        <table style="width:100%;">
          <tbody>
            <tr>
              <td class="info col1">
                <div>
                  <b><a class="font-normal" href="{{ url_for('security.register') }}">FB</a></b>
                </div>
              </td>
              <td class="col2" rowspan="2">
                <div class="stampbox sell ">
                  <a class="font-small sell" href="{{ url_for('security.register') }}">Sell</a>
                </div>
              </td>
              <td class="col3">
                <a class="font-normal" href="{{ url_for('security.register') }}">199.75</a>
              </td>
            </tr>

            <tr>
              <td class="info col1">
                <div>
                  <a class="font-small font-light" href="{{ url_for('security.register') }}">Facebook Inc.</a>
                </div>
              </td>
              <td class="col3">
                <div>
                  <a href="{{ url_for('security.register') }}">
                    <p class="font-small" style="color:#a81e26;">▼0.5%</p>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="border-color: rgba(0, 0, 0, 0.075); border-width: 0.5px;">
      </li>

      <li name="1_goog_Hold">
        <table style="width:100%;">
          <tbody>
            <tr>
              <td class="info col1">
                <div>
                  <b><a class="font-normal" href="{{ url_for('security.register') }}">GOOG</a></b>
                </div>
              </td>
              <td class="col2" rowspan="2">
                <div class="stampbox hold ">
                  <a class="font-small hold" href="{{ url_for('security.register') }}">Hold</a>
                </div>
              </td>
              <td class="col3">
                <a class="font-normal" href="{{ url_for('security.register') }}">1,250.41</a>
              </td>
            </tr>
            <tr>
              <td class="info col1">
                <div>
                  <a class="font-small font-light" href="{{ url_for('security.register') }}">Alphabet Inc.</a>
                </div>
              </td>
              <td class="col3">
                <div>
                  <a href="{{ url_for('security.register') }}">
                    <p class="font-small" style="color:#005100;">▲10.4%</p>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="border-color: rgba(0, 0, 0, 0.075); border-width: 0.5px;">
      </li>

      <li name="2_msft_Hold">
        <table style="width:100%;">
          <tbody>
            <tr>
              <td class="info col1">
                <div>
                  <b><a class="font-normal" href="{{ url_for('security.register') }}">MSFT</a></b>
                </div>
              </td>
              <td class="col2" rowspan="2">
                <div class="stampbox buy ">
                  <a class="font-small buy" href="{{ url_for('security.register') }}">Buy</a>
                </div>
              </td>
              <td class="col3">
                <a class="font-normal" href="{{ url_for('security.register') }}">141.34</a>
              </td>
            </tr>
            <tr>
              <td class="info col1">
                <div>
                  <a class="font-small font-light" href="{{ url_for('security.register') }}">Microsoft Corporation</a>
                </div>
              </td>
              <td class="col3">
                <div>
                  <a href="{{ url_for('security.register') }}">
                    <p class="font-small" style="color:#005100;">▲0.8%</p>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="border-color: rgba(0, 0, 0, 0.075); border-width: 0.5px;">
      </li>
    </ul>
    <p style="text-align: right;" class="font-credits">* For illustration purposes only</p>
    </div>

    <h4>Maximise gains, minimise risk</h4>
    <div class="subtext">
      <p>Through predicting local peaks & troughs, PocketSG helps to identify buy and sell opportunities daily, allowing investors to capture gains while minimising capital exposure to the market.</p>
      <br>
      <p>Buy and sell recommendations are delivered to your email daily, before the start of each trading day.</p>
    </div>

    <h4>Keep track of past recommendations</h4>
    <div class="subtext">
      <p>Past recommendations are recorded and displayed transparently, providing a clear view of any gains or losses from pursuing trading opportunities as recommended.</p>
      <br>
      <a href="{{ url_for('security.register') }}">
        <img src="{{url_for('static', filename='sample_plot.png')}}" alt="Sample plot" style="width:90%; text-align:center;">
      </a>
      <p style="text-align: right; padding-right:30px;" class="font-credits">* For illustration purposes only</p>
    </div>
    <br>
    <h4>Take control of your portfolio today</h4>

    <div class="subtext">
      <h4 style="text-align:center;"><a href="{{ url_for('security.register') }}">Sign up with PocketSG</a></h4>
    </div>

  <br>
  <hr>
  {% if not current_user.is_anonymous %}
  &nbsp; &nbsp;<a class="right" href="{{ url_for('logout') }}" style="font-size: 80%">Logout</a>
  {% endif %}
  </div>

{% endblock %}
