{% extends "base.html" %}

{% block content %}
  <h3>Apps</h3>
  <hr><br>
  <div>
    <p>Welcome to Pocket.sg! </p>
    <p>A suite of apps all within your pocket.</p>

    <h4><a href="{{ url_for('email_article_page') }}">(1) News article to Email</a></h4>
    <div class="subtext"><p>Send news articles to your email so you can read them later, or forward articles to your friends.</p></div>

    <h4><a href="{{ url_for('lists_page') }}">(2) My Lists</a></h4>
    <div class="subtext"><p>Save your to-do list, grocery list, restaurants to vist, or activities you want to do. For a surprise, you may also generate random items off your list.</p></div>

    <h4><a href="{{ url_for('chats_page') }}">(3) Chat</a></h4>
    <div class="subtext"><p>Chat with a friend! Works on your mobile and computer.</p></div>

    <h4><a href="{{ url_for('stocks_page') }}">(4) My Stocks</a></h4>
    <div class="subtext"><p>Get buy / sell recommendations for any stock.</p></div>

  </div>

{% endblock %}
