{% extends "base.html" %}

{% block content %}
<style>
#page p.shared {
  padding-right: 0px;
  width: 20%;
}

</style>
<h3>
  {% if owner_username == current_user.username %}
  <div id="page_header">
    <a href="{{ url_for('lists_page') }}">My Lists</a>&nbsp; > &nbsp; <a href="{{ url_for('list_edit_page', list_id=list_id) }}">{{ list_name }}</a>
  </div>
  <button class="delete list_del" type="button" onClick="window.location.href='{{ url_for('list_edit_page', list_id=list_id) }}';">Edit List</button>
  {% else %}
  <div id="page_header">
    <a href="{{ url_for('lists_page') }}">My Lists</a>&nbsp; > &nbsp; {{ list_name }}
  </div>
  <p class="notbold small right shared">Shared by {{ owner_username }}</p>
  {% endif %}
</h3>
<hr>

<div>
    <ul>
      {% for item in items %}
        <li>
          <label class="container">
            <input form="save_checked_boxes_{{ item.id }}" id="check_item_form_{{ item.id }}" name='item_id_unchecked' value="{{ item.id }}" type="hidden">
            {% if item.status == "Done" %}
              <input form="save_checked_boxes_{{ item.id }}" id="check_item_form_{{ item.id }}" type="checkbox" name="item_id_checked" value="{{ item.id }}" onclick="this.form.submit()" checked>
            {% else %}
              <input form="save_checked_boxes_{{ item.id }}" id="check_item_form_{{ item.id }}" type="checkbox" name="item_id_checked" value="{{ item.id }}" onclick="this.form.submit()">
            {% endif %}

            <span class="checkmark"></span>
          </label>
          {% if item.status == "Done" %}
            <a style="color:#C1CDC1;">{{ item.name }}</a>
          {% else %}
            <a>{{ item.name }}</a>
          {% endif %}

          {% if item.url != "" %}
            <a target="_blank" href="{{ item.url }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#128279;&nbsp;</a>
          {% endif %}
          <button class="delete" type="submit" value="{{ item.id }}" form="delete_item_form_{{ item.id }}" onClick="return confirm('Are you sure you want to delete {{ item.name }} ?')">&nbsp;&#10007;&nbsp;</button>
          <form type="hidden" id="delete_item_form_{{ item.id }}" action="{{ url_for('list_items_page', list_id=list_id) }}" method="post">
            <input form="delete_item_form_{{ item.id }}" id="delete_item_form_{{ item.id }}" type="hidden" name="item_id_delete" value="{{ item.id }}">
          </form>
        </li>
        <form type="hidden" id="save_checked_boxes_{{ item.id }}" action="{{ url_for('list_items_page', list_id=list_id) }}" method="post"></form>
      {% endfor %}
    </ul>
</div>
<br>

<h4>Add item to list</h4>
<div>
  <form action="" method="post">
    {{ new_item_form.hidden_tag() }}
    <p>

      {{ new_item_form.item_name.label }}<br><br>
      {{ new_item_form.item_name(size=32, class_="input_field") }}
      {{ new_item_form.item_desc.label }}<br><br>
      {{ new_item_form.item_desc(size=32, class_="input_field") }}
      {{ new_item_form.item_url.label }}<br><br>
      {{ new_item_form.item_url(size=32, class_="input_field lower_input") }}

      {% for field in new_item_form.errors %}
      {% for error in new_item_form.errors[field] %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
      {% endfor %}

    </p>
    <p id="submit_button">{{ new_item_form.submit(class_="form_button") }}</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
</div>
{% endblock %}
