{% extends "base.html" %}

{% block content %}
  <h3>Sign In</h3>
  <hr>
  <div>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <h4 class="notbold">
      {{ form.username.label }}<br><br>
      {{ form.username(size=32, class_="input_field lower_input") }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <h4 class="notbold">
      {{ form.password.label }}<br><br>
      {{ form.password(size=32, class_="input_field") }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <div style="display: inline-block; padding-right: 5px;">{{ form.remember_me() }}</div>
    <div style="display: inline-block;"><p class="small">{{ form.remember_me.label }}</p></div>
    <h4 class="notbold button_h4">{{ form.submit(class_="form_button") }}</h4>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
  <br><hr>
  <h4>New User? <a href="{{ url_for('security.register') }}">Click to Register!</a></h4>
{% endblock %}
