{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .headers {
    font-size:110%;
  }
  .secondary {
    font-weight: normal;
  }
  .tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px;
    width:100%;
  }
  .tg tbody {
    display: block;
    max-width: 500px;
  }
  .tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
  }
  .tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
  }
  .tg .col1{
    width:30%;
    /*font-weight:bold;*/
    background-color:#efefef;
    border-color:#FCFCFC;
    text-align:center;
    vertical-align:top
  }
  .tg .col2{
    width:30%;
    /*background-color:#fcfdfd;*/
    border-color:#FCFCFC;
    text-align:center;
    vertical-align:top
  }
</style>
<h3>
  <div style="float; left; width: 90%; display:inline-block;">
    <a href="{{ url_for('stocks_page') }}">My Stocks</a>&nbsp; > &nbsp; {{ ticker.name }}
  </div>
</h3>
<hr>

<h3 class="headers" style="margin-block-end: 0.5em;line-height: 1.3">{{ ticker.full_name }}</h3>
{% if latest_recommendation != None %}
<br>
<div>
  <table class="tg">
    <tr>
      <td class="col1">Last trading day</td>
      <td class="col2">{{ ticker.latest_trading_day }}</td>
    </tr>
    <tr>
      <td class="col1">Latest price</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.price) }}</td>
    </tr>
    <tr>
      <td class="col1" style="background-color:#616161; color:#FCFCFC;">Recommend</td>
      {% if 'sell' in latest_recommendation['buy_or_sell'].lower() %}
      <td class="col2" style="background-color:#fff0f0; color:#AE0D16;"><b>{{ latest_recommendation['buy_or_sell'] }}<b></td>
      {% elif 'buy' in latest_recommendation['buy_or_sell'].lower() %}
      <td class="col2" style="background-color:#e5efe5; color:#006600;"><b>{{ latest_recommendation['buy_or_sell'] }}<b></td>
      {% else %}
      <td class="col2"><b>{{ latest_recommendation['buy_or_sell'] }}<b></td>
      {% endif %}
    </tr>
    {% if latest_recommendation['buy_or_sell'] == '-' %}
    <tr>
      <td class="col1" style="background-color: #FCFCFC;"> </td>
      <td class="col2" style="text-align:center; font-size:12px; padding: 7px; line-height: 1.3">To be updated</td>
    </tr>
    {% endif %}
  </table>
</div>
<br>
<hr>
{% endif %}

{% if plot_exists %}
<h3 class="secondary headers">Past year recommendations</h3>
<br>
<div>
  <a href="{{url_for('static', filename='ticker_plots/' + ticker['name'].lower().replace('.', '') + '.png')}}">
    <img src="{{url_for('static', filename='ticker_plots/' + ticker['name'].lower().replace('.', '') + '.png')}}" alt="Please wait.." style="width:100%;"/>
  </a>
</div>
<br>
<hr>
{% endif %}

<h3 class="secondary headers">Stats</h3>
<div>
  <table class="tg">
    <tr>
      <td class="col1">Type</td>
      <td class="col2">{{ ticker.type }}</td>
    </tr>
    <tr>
      <td class="col1">Region</td>
      <td class="col2">{{ ticker.region }}</td>
    </tr>
    <tr>
      <td class="col1">Last trading day</td>
      <td class="col2">{{ ticker.latest_trading_day }}</td>
    </tr>
    <tr>
      <td class="col1">Latest price</td>
      <td class="col2">{{ '{} $ {:,.2f}'.format(ticker.currency, ticker.price) }}</td>
    </tr>
    <tr>
      <td class="col1">Previous close</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.previous_close) }}</td>
    </tr>
    <tr>
      <td class="col1">Absolute change</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.change) }}</td>
    </tr>
    <tr>
      <td class="col1">% change</td>
      <td class="col2">{{'{:0.2f} %'.format(ticker.change_percent * 100)}}</td>
    </tr>
    <tr>
      <td class="col1">Open</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.open) }}</td>
    </tr>
    <tr>
      <td class="col1">High</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.high) }}</td>
    </tr>
    <tr>
      <td class="col1">Low</td>
      <td class="col2">{{ '{} $ {:.2f}'.format(ticker.currency, ticker.low) }}</td>
    </tr>
    <tr>
      <td class="col1">Volume</td>
      <td class="col2">{{ '{:,}'.format(ticker.volume) }}</td>
    </tr>
  </table>
<div>
<br>
<div style="float: right; display:block; width: 100%">
  <button class="delete list_del" style="font-size:80%; width:40%" type="submit" value="{{ ticker.id }}" form="delete_ticker_form_{{ ticker.id }}" onClick="return confirm('Are you sure you want to delete {{ ticker.name }}: {{ ticker.full_name }} ?')">Remove Stock</button>
  <form type="hidden" id="delete_ticker_form_{{ ticker.id }}" action="{{ url_for('stocks_page', ticker_id=ticker_id) }}" method="post">
    <input form="delete_ticker_form_{{ ticker.id }}" id="delete_ticker_form_{{ ticker.id }}" type="hidden" name="ticker_id_delete" value="{{ ticker.id }}">
  </form>
</div>
<br style="clear: left;" />
{% endblock %}
