{% extends "base.html" %}

{% block content %}
  <h3>My Stocks</h3>
  <hr><br>
  <div>
    <ul>
    {% for ticker in tickers %}
      <li>
        {{ ticker.name }}
        <button class="delete" type="submit" value="{{ ticker.id }}" form="delete_ticker_form_{{ ticker.id }}" onClick="return confirm('Are you sure you want to delete {{ ticker.name }} ?')">&nbsp;&#10007;&nbsp;</button>
        <form type="hidden" id="delete_ticker_form_{{ ticker.id }}" action="{{ url_for('stocks_page', ticker_id=ticker_id) }}" method="post">
          <input form="delete_ticker_form_{{ ticker.id }}" id="delete_ticker_form_{{ ticker.id }}" type="hidden" name="ticker_id_delete" value="{{ ticker.id }}">
        </form>
      </li>
    {% endfor %}
    </ul>
  </div>
  <br>
  <h4>Create New Ticker</h4>
  <div>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <h4 class="notbold">
        {{ form.ticker_name.label }}<br><br>
        {{ form.ticker_name(size=32, class_="input_field") }}
        {% for error in form.ticker_name.errors %}
        <span style="color: red;">[{{ error }}]</span><br><br>
        {% endfor %}
      </h4>
      <h4 class="notbold button_h4">{{ form.submit(class_="form_button") }}</h4>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
      <li style="color: red;">- {{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </form>
  </div>


{% endblock %}
