{% extends "base.html" %}

{% block content %}
<h3>
  <div style="float; left; width: 60%; display:inline-block;">
    My Stocks
  </div>
</h3>
<hr><br>
<div>
  <ul>
  {% for ticker in tickers %}
    <li>
      <div style="width:15%;float:left;">
        <b><a href="{{ url_for('stock_details_page', ticker_id=ticker.id) }}">{{ ticker.name }}</a></b>
      </div>

      {% if ticker.full_name != None %}
      <div style="width:60%;float:left;">
        <a href="{{ url_for('stock_details_page', ticker_id=ticker.id) }}">{{ ticker.full_name }}</a>
      </div>

      <div style="width:10%; float:right;">
        {% if ticker_recommendations[ticker.id]["recommendation"] == 'Sell' %}
        <a href="{{ url_for('stock_details_page', ticker_id=ticker.id) }}" style="color:#d22630;">
            <b>{{ ticker_recommendations[ticker.id]["recommendation"] }}</b>
        </a>
        {% elif ticker_recommendations[ticker.id]["recommendation"] == 'Buy' %}
        <a href="{{ url_for('stock_details_page', ticker_id=ticker.id) }}" style="color:#006600;">
            <b>{{ ticker_recommendations[ticker.id]["recommendation"] }}</b>
        </a>
        {% else %}
        <a href="{{ url_for('stock_details_page', ticker_id=ticker.id) }}">
            {{ ticker_recommendations[ticker.id]["recommendation"] }}
        </a>
        {% endif %}
      </div>
      {% endif %}
      <br style="clear: left;" />
    </li>
  {% endfor %}
  </ul>
</div>
<br>
<h4>Create New Ticker</h4>
<div class="form_div">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.ticker_name.label }}<br><br>
      {{ form.ticker_name(size=32, class_="input_field") }}
      {% for error in form.ticker_name.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p id="submit_button">
      {{ form.submit(class_="form_button", onClick="return replace_with_loading_gif()") }}
      <div id="divMsg" style="display:none; padding-right: 5px; float: right;">
        <img src="{{url_for('static', filename='loading_icon.gif')}}" alt="Please wait.." />
      </div>
    </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
</div>

<script type="text/javascript">
  function replace_with_loading_gif() {
    document.getElementById('submit').style.display="none";
    document.getElementById('divMsg').style.display="block";
  };
</script>
{% endblock %}
