<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css" nonce="">a:link {color:#15C;text-decoration:none}
a:active {color:#15C;text-decoration:none}
a:hover {text-decoration:underline;cursor:pointer}
a:visited {}</style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body style="font-size:13px">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr><td style="font-size:13px">
      <div style="overflow: hidden;">
      <font size="-1"><u></u>
      <div style="height:100%;margin:0;padding:0;width:100%;background-color:#F2F2F7">
      <center>

      <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse; max-width:100%;min-width:100%;">
        <tbody><tr><td align="center" valign="top" style="font-size:13px; border-top:0; padding:10px">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:0;max-width:600px">
            <tbody style="padding-top:0px;padding-bottom:0px">

              <tr>
                <td valign="top" style="font-size:13px; background:#F2F2F7 none no-repeat center/cover; background-color:#F2F2F7; background-image:none; background-position:center; background-repeat:no-repeat; background-size:cover; border-bottom:0; border-top:0" bgcolor="#F2F2F7"></td>
              </tr>

              <tr>
                <td valign="top" style="font-size:13px; background:#F2F2F7 none no-repeat center/cover; background-color:#F2F2F7; background-image:none; background-position:center; background-repeat:no-repeat; background-size:cover; border-bottom:0; border-top:0; padding-top:9px" bgcolor="#F2F2F7">

                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr><td valign="top" style="font-size:13px; padding-top:9px">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                          <td valign="top" style="font-size:16px; line-height:150%; padding:0 18px 9px 18px; text-align:left; word-break:break-word; font-family:Helvetica, Arial, Verdana, sans-serif; color:#7e8890" align="left"></td>
                        </tr></tbody>
                      </table>
                    </td></tr></tbody>
                  </table>

                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr><td valign="top" style="font-size:13px; padding:0">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr><td valign="top" style="font-size:13px; padding:0">
                          <a href="" title="" target="_blank" data-saferedirecturl="">
                          </a>
                        </td></tr></tbody>
                      </table>
                    </td></tr></tbody>
                  </table>

                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr><td valign="top" style="font-size:13px; padding-top:9px">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr><td valign="top" style="font-size:16px; line-height:200%; padding:0 18px 9px 18px; text-align:left; word-break:break-word; font-family:Helvetica, Arial, Verdana, sans-serif; color:#7e8890" align="left">
                          <p style="font-family:Helvetica, Arial, Verdana, sans-serif; font-size:16px; color:#7e8890; line-height:200%; margin:10px 0; padding:0; text-align:left" align="left"></p></td></tr></tbody>
                      </table>
                    </td></tr></tbody>
                  </table>

                </td>
              </tr>

              <tr>
                <td valign="top" style="font-size:13px; background:#fff none no-repeat center/cover; background-color:#fff; background-image:none; background-position:center; background-repeat:no-repeat; background-size:cover; border-bottom:2px none #eaeaea; border-top:0; padding-bottom:9px" bgcolor="#ffffff">

                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr><td valign="top" style="font-size:13px; padding-top:9px">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr><td valign="top" style="font-size:16px; line-height:150%; padding:0 18px 9px 18px; text-align:left; word-break:break-word; font-family:Helvetica, Arial, Verdana, sans-serif; color:#7e8890; font-style:normal; font-weight:300" align="left">
                        <br>
                        <span style="font-size:15px">
                          <span>
                            <br>Welcome to Pocket.SG!
                            <br><br>
                            {% if security.confirmable %}
                            {{ _('To activate your account, please confirm your email through the link below:') }}
                            <br><u><a href="{{ confirmation_link }}" style="color:#94262C; text-align:center;">{{ _('Confirm my account') }}</a></u>
                            {% endif %}
                            <br><br>
                            Sincerely,
                            <br>
                            The Pocket SG Team
                            <br><br>
                          </span>
                        </span>
                        </td></tr></tbody>
                      </table>
                    </td></tr></tbody>
                  </table>

                </td>
              </tr>

              <tr>
                <td valign="top" style="font-size:13px; background:#F2F2F7 none no-repeat center/cover; background-color:#F2F2F7; background-image:none; background-position:center; background-repeat:no-repeat; background-size:cover; border-bottom:0; border-top:0; padding-bottom:9px; padding-top:9px" bgcolor="#F2F2F7">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr><td valign="top" style="font-size:13px; padding-top:9px">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr><td valign="top" style='font-size:12px; line-height:150%; padding:0 18px 9px 18px; text-align:center; word-break:break-word; font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; color:#999' align="center">
                          <p style="font-size:16px; font-weight:600; margin:10px 0; padding:0">
                            <strong><a href="https://www.pocket.sg/?utm_source=welcome-email&amp;utm_medium=email&amp;utm_campaign=welcome&amp;utm_content={{user.username}}" style="color:#94262C;text-decoration:none;font-weight:bold" target="_blank" data-saferedirecturl="">pocket.sg</a></strong>
                          </p>
                          <br>
                          <br>
                          © 2019 Pocket, SG. All rights reserved.
                          <br>
                          <a href="https://www.pocket.sg/contact" style="color:#94262C;">Contact Us</a>
                          <p style="display:none;margin:10px 0;padding:0;">
                            <a href="" style="font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="">unsubscribe</a>
                          </p>
                        </td></tr></tbody>
                      </table>
                    </td></tr></tbody>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>
        </td></tr></tbody>
      </table>

      </center>
      </div>
      </font>
      </div>
    </td></tr></tbody>
  </table>
</body>
</html>