{% extends "base.html" %}

{% block content %}
  <h3>Change Password</h3>
  <hr>
  <div>
  <form action="{{url_for('security.change_password')}}" method="post" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    <p>
      {{ change_password_form.password.label }}<br><br>
      {{ change_password_form.password(size=32, class_="input_field") }}
      {% for error in change_password_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ change_password_form.new_password.label }}<br><br>
      {{ change_password_form.new_password(size=32, class_="input_field") }}
      {% for error in change_password_form.new_password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ change_password_form.new_password_confirm.label }}<br><br>
      {{ change_password_form.new_password_confirm(size=32, class_="input_field") }}
      {% for error in change_password_form.new_password_confirm.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p id="submit_button">{{ change_password_form.submit(class_="form_button", value="Reset Password") }}</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
{% endblock %}
