{% extends "base.html" %}

{% block content %}
  <h3><a href="{{ url_for('my_profile') }}">My Profile</a>&nbsp; > &nbsp; Change Password</h3>
  <hr><br>
  <div class="form_div">
  <form action="{{url_for('security.change_password')}}" method="post" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    <p>
      Old Password<br><br>
      <!-- {{ change_password_form.password.label }}<br><br> -->
      {{ change_password_form.password(size=32, class_="input_field") }}
      {% for error in change_password_form.password.errors %}
      <span class="flash_message">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ change_password_form.new_password.label }}<br><br>
      {{ change_password_form.new_password(size=32, class_="input_field") }}
      {% for error in change_password_form.new_password.errors %}
      <span class="flash_message">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      Retype New Password<br><br>
      <!-- {{ change_password_form.new_password_confirm.label }}<br><br> -->
      {{ change_password_form.new_password_confirm(size=32, class_="input_field") }}
      {% for error in change_password_form.new_password_confirm.errors %}
      <span class="flash_message">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <div id="submit_button">{{ change_password_form.submit(class_="form_button", value="Reset Password") }}</div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash_message_div">
      <ul>
        {% for message in messages %}
        <li class="flash_message">- {{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

  </form>
  </div>
{% endblock %}
