{% extends "base.html" %}

{% block content %}
  <h3>Forgot Password</h3>
  <hr>
  <div>
  <form action="" method="post" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    <p style="color: #424242;">Send a password reset email :</p>
    <p>
      {{ forgot_password_form.email.label }}<br><br>
      {{ forgot_password_form.email(size=64, class_="lower_input input_field") }}
      {% for error in forgot_password_form.email.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p id="submit_button">{{ forgot_password_form.submit(class_="form_button", value="Reset Password") }}</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
{% endblock %}
