{% extends "base.html" %}

{% block content %}
  <h3>Sign In</h3>
  <hr>
  <div>
  <form action="" method="post" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    <h4 class="notbold">
      {{ login_user_form.email.label }}<br><br>
      {{ login_user_form.email(size=32, class_="input_field lower_input") }}
      {% for error in login_user_form.email.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <h4 class="notbold">
      {{ login_user_form.password.label }}<br><br>
      {{ login_user_form.password(size=32, class_="input_field") }}
      {% for error in login_user_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <div style="display: inline-block; padding-right: 5px;">{{ login_user_form.remember() }}</div>
    <div style="display: inline-block;"><p class="small">{{ login_user_form.remember.label }}</p></div>
    <h4 class="notbold button_h4">{{ login_user_form.submit(class_="form_button") }}</h4>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
  <br><hr>
  <div><h4 class="notbold">Not on Pocket SG yet? <a href="{{ url_for('security.register') }}">Sign Up</a></h4></div>
  <div><h4 class="notbold"><a href="{{ url_for('security.forgot_password') }}">Forgotten Password?</a></h4></div>
  <div><h4 class="notbold"><a href="{{ url_for('security.send_confirmation') }}">Resend confirmation email</a></h4></div>
{% endblock %}
