{% extends "base.html" %}

{% block content %}
  <h3>Register</h3>
  <hr>
  <div>
  <form action="" method="post" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    <p>
      {{ register_user_form.username.label }}<br><br>
      {{ register_user_form.username(size=32, class_="lower_input input_field") }}
      {% for error in register_user_form.username.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ register_user_form.email.label }}<br><br>
      {{ register_user_form.email(size=64, class_="lower_input input_field") }}
      {% for error in register_user_form.email.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ register_user_form.password.label }}<br><br>
      {{ register_user_form.password(size=32, class_="input_field") }}
      {% for error in register_user_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ register_user_form.password_confirm.label }}<br><br>
      {{ register_user_form.password_confirm(size=32, class_="input_field") }}
      {% for error in register_user_form.password_confirm.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p id="submit_button">{{ register_user_form.submit(class_="form_button", value="Sign Up") }}</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
{% endblock %}
