{% extends "base.html" %}

{% block content %}
  <h3>Reset Password</h3>
  <hr>
  <div class="form_div">
  <form action="" method="post" name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    <p>
      {{ reset_password_form.password.label }}<br><br>
      {{ reset_password_form.password(size=32, class_="input_field") }}
      {% for error in reset_password_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p>
      {{ reset_password_form.password_confirm.label }}<br><br>
      {{ reset_password_form.password_confirm(size=32, class_="input_field") }}
      {% for error in reset_password_form.password_confirm.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </p>
    <p id="submit_button">{{ reset_password_form.submit(class_="form_button", value="Reset Password") }}</p>

  </form>
  </div>
{% endblock %}
