{% extends "base.html" %}

{% block content %}
  <h3>Reset Password</h3>
  <hr>
  <div>
  <form action="" method="post" name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    <h4 class="notbold">
      {{ reset_password_form.password.label }}<br><br>
      {{ reset_password_form.password(size=32, class_="input_field") }}
      {% for error in reset_password_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <h4 class="notbold">
      {{ reset_password_form.password_confirm.label }}<br><br>
      {{ reset_password_form.password_confirm(size=32, class_="input_field") }}
      {% for error in reset_password_form.password_confirm.errors %}
      <span style="color: red;">[{{ error }}]</span><br><br>
      {% endfor %}
    </h4>
    <h4 class="notbold button_h4">{{ reset_password_form.submit(class_="form_button", value="Reset Password") }}</h4>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li style="color: red;">- {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </form>
  </div>
{% endblock %}
